<% if (messages) {%>
  <ul>
    <% messages.forEach(function(message) { %>
      <li><h2><%= message.title %></h2>
        <p><%= message.body %></li></p>
        <% if (locals.currentUser) {%>
          <% if (locals.currentUser.membership === 'member') {%>
            <p>Created: <%= new Date(message.time)%></p>
            <p>Author: <%= message.username %></p>
          <%}%>
          <% if (locals.currentUser.admin === true) { %>
            <button><a href="/delete/<%=message.messageid%>">Delete Message</a></button>
          <%}%>
        <%}%>
    <% }); %>
  </ul>
<% } %>